DAY 2 - (09/09/2025)
Real time scenarios and iterative statements

1.ATM Withdrawl Validation
you are designing an ATM System. A coustumer enters the amount to withdraw
    -the withdrawl amount must be less than or equal to the account balace(5K)
    -the amt must be multiple of 100
    -if both conditions are true ,allow withdrawl
    -otherwise, display("Insufficient balance")

In [1]:
amt=int(input("Enter the amount to withdraw"))
if(amt<=5000):
    if(amt%100==0):
        print("Withdrawal allowed")
    else:
        print("Amount Should be multiple of 100")
else:
    print("Insufficient Balance")

Withdrawal allowed

Signal color as input and print statements according to that color

In [6]:
color = input("Enter the color").lower() #.lower 
if(color=="red"):
    print("Stop Immediately")
elif(color=="yellow"):
    print("Get ready to move")
elif(color=="green"):
    print("You can go")

Stop Immediately

3.Movie Ticket Pricing
In a theater, ticket prices vary depending on customers age
    -(<12) print 150rs
    -(>12 and less than 18) print 200
    -(>18) print 300rs

In [14]:
age=int(input("Enter the age"))
if(0<age<=12):
    print("150/-")
elif(12<age<18):
    print("200/-")
elif(age>18):
    print("300/-")
else:
    print("Invalid age")

Invalid age

4.Employee Overtime Pay
standard 8 hours
    -if morethan 8 100rs for each extra hour
    -else no overtime pay

In [16]:
time=int(input("Enter working hours : "))
if(time>8):
    print("100rs for each extra hour")
else:
    print("No overtime pay")

No overtime pay

In [ ]:
time=int(input("Enter working hours : "))
if(time>8):
    print("100rs for each extra hour")
    time=time-8
    res=time//100
else:
    print("No overtime pay")

100rs for each extra hour

5.Restaurant Discount System
a restaurent gives dicount based on the total bill:
    -if bill > 1000rs -- 10% discount
    -if bill > 500rs -- 5% discount
    -if bill<= 500rs -- no discount
    write program that calculates and displays the final amount after discount

In [19]:
amt=int(input("Enter the bill amount : "))
if(amt>1000):
    dis=amt*0.1
    amt=amt-dis
    print(amt)
elif(amt>500):
    dis=amt*0.05
    amt=amt-dis
    print(amt)
elif(amt<=500):
    print("No discount")
    print(amt)

2700.0

7.Water Reminder app

In [22]:
hrs = int(input("Enter hours since you drink water"))
if(hrs>=4):
    print("You are dehydrated! Drink water now!")
elif(2<=hrs<=3):
    print("Drink a glass of water")
elif(hrs<2):
    print("You're fine")

Drink a glass of water

                                                            List,Tuple,Set

In [23]:
List=[10,20,30,40,50]
Tupple=(10,20,30,40,50)
Set={10,20,30,40,50}
print(List,type(List))
print(Tupple,type(Tupple))
print(Set,type(Set))

[10, 20, 30, 40, 50] <class 'list'>
(10, 20, 30, 40, 50) <class 'tuple'>
{50, 20, 40, 10, 30} <class 'set'>

Range

In [24]:
#range(stop)
#range(strt,stop)
#range(strt,stop,stepsize)
R1=range(10)
print(R1)
print(type(R1))

range(0, 10)
<class 'range'>

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [31]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

write a python program to print the natural numbers from 1 to n.where n is the users input

In [ ]:
n=int(input('Enter the integer value: '))
print(f"Natural Numbers from 1 to {n}:")
for i in range(1,n+1):
    print(i)

Natural Numbers from 1 to 15:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

write a python program to print natural numbers from n to 1

In [37]:
n=int(input('Enter the integer value: '))
for i in range(n,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

write a python program to print even numbers from 1 to n

In [38]:
n=int(input('Enter the integer value: '))
print(f"Even numbers from 1 to {n}")
for i in range(2,n+1,2):
    print(i)

Even numbers from 1 to 20
2
4
6
8
10
12
14
16
18
20

write a python program to print the even numbers from n to 1

In [39]:
n=int(input('Enter the integer value: '))
print(f"Even numbers from 1 to {n}")
for i in range(n,0,-1):
    if(i%2==0):
        print(i)

Even numbers from 1 to 50
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

write apython program to print odd numbers from 1 to n

In [40]:
n=int(input('Enter the integer value: '))
print(f"Odd numbers from 1 to {n}")
for i in range(1,n+1,2):
    print(i)

Odd numbers from 1 to 50
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

write a python program to print odd numbers from n to 1

In [44]:
n=int(input("Enter the integer"))
print(f"Odd numbers from {n} to 1:")
for i in range(n,1,-1):
    if(i%2!=0):
        print(i)

Odd numbers from 50 to 1:
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3

write a python program to print the multiplication table of n

In [45]:
n=int(input("Enter a Integer : "))
print(f"Multiplication Table of {n} ")
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Multiplication Table of 30
30 x 1 = 30
30 x 2 = 60
30 x 3 = 90
30 x 4 = 120
30 x 5 = 150
30 x 6 = 180
30 x 7 = 210
30 x 8 = 240
30 x 9 = 270
30 x 10 = 300