Day 07 - 16/09/2025

In [1]:
num = []
for i in range(1,11):
    num.append(i)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List Comprehension : Iterating inside the list

In [2]:
li = [i for i in range(1,11)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Write a python program to print a list of even numbers from 1 to n using list comprehension

In [4]:
n = int(input("Enter the integer value"))
li = [i for i in range(2,n,2)]
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [6]:
n = int(input("Enter the integer value"))
li = [i for i in range(1,n) if i % 2 == 0]
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

MAP() - This function executes a specified function on each element of the iterable(sequence) and perhaps changes the element           

Syntax - map(function_name,iterable)

FILTER() - It returns those elements of sequence, for which function is true                                                            
filter(function_name,iterable)

REDUCE() - To reduce sequenx=ce of elements                                                                                             
Syntax - reduce(function_name,iterable)

ANANYMOUS FUNCTION OR LAMBDAS A function without a name is called Ananymous function.Also called as lambada Function.They are not defined using def keyword rather they are defined using lambda keyword - Syntax : lambda argument_list : expression

Write a python function to print square of n

In [7]:
def square(n):
    print(n*n)
square(10)

100

In [8]:
x=lambda n : print(n*n)
x(10)

100

Write a lambda function to add 10 to a number

In [9]:
add = lambda n : n+10
print(add(10))

20

Write a python program to check whether the user entered integer is even using lambda functions

In [10]:
even = lambda n : n%2 == 0
print(even(24))
print(even(25))

True
False

Write a python program to square the numbers in the list using lambda functions

In [20]:
num = [1,2,3,4,5,6,7,8,9,10]
square = lambda :[i*i for i in num]
print(square())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
num = [1,2,3,4,5,6,7,8,9,10]
res = []
for i in num:
    val = i + i
    res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
num = [1,2,3,4,5,6,7,8,9,10]
def double(n):
    return n*n
li = list(map(double, num))
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a python program to read the list of words as input from the user and return the len of each word for the list

In [25]:
size = int(input("Enter the size of the list"))
WordList = []
for i in range(size):
    word = input("Enter the word")
    WordList.append(word)
print("User Entered list : ", WordList)
Len = list(map(lambda w: len(w), WordList))
print("Length of each word in the list : ",Len )

User Entered list :  ['c', 'c++', 'Java', 'Python', 'TML']
Length of each word in the list :  [1, 3, 4, 6, 3]

Write a Python Program to read 3 integer values as input in same line and print the sum of the values

In [27]:
#take input in same line
li = list(map(int, input("Enter three integer values: ").split()))
print("The list of values: ", li)
print("Sum of the values: ", sum(li))

The list of values:  [12, 13, 14]
Sum of the values:  39

Write a python program to read a list of elements as input from the user & print the square of each element

In [31]:
size = int(input("Enter the size of the list"))
num = []
new = []
for i in range(size):
    val = int(input("Enter the element"))
    num.append(val)
print("User Entered list : ", num)
for i in num:
    i = i *i
    new.append(i)
print("Square of each element: ",new)

User Entered list :  [1, 2, 3]
Square of each element:  [1, 4, 9]

In [29]:
li = list(map(int,input("Enter the list of elements: ").split()))
print("The User Entered List: ", li)
print("Square of each element:",list(map(lambda x: x*x,li)))

The User Entered List:  [2, 4, 6, 7, 8, 10]
Square of each element: [4, 16, 36, 49, 64, 100]

Write a python program to read a list of numbers and print the list of even numbers and odd numbers without using loops and conditional statements

In [34]:
li = list(map(int,input("Enter the list of elements: ").split()))
print("The list of elements: ", li)
even = list(map(lambda x: x%2==0, li))
print("The list of even numbers: ", even)
odd = list(map(lambda x: x%2!=0, li))
print("The list of odd numbers: ", odd)

The list of elements:  [1, 2, 3, 4, 5, 6]
The list of even numbers:  [False, True, False, True, False, True]
The list of odd numbers:  [True, False, True, False, True, False]

In [35]:
li = list(map(int,input("Enter the list of elements: ").split()))
print("The list of elements: ", li)
even = list(filter(lambda x: x%2==0, li))
print("The list of even numbers: ", even)
odd = list(filter(lambda x: x%2!=0, li))
print("The list of odd numbers: ", odd)

The list of elements:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
The list of even numbers:  [2, 4, 6, 8, 10, 12, 14, 16]
The list of odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15]

Sales Data Analysis

In [36]:
Sales = list(map(int,input("Enter the sales for a week").split(",")))
print(max(Sales))
print(sum(Sales))

1000
4000

Student Grade Analysis

In [39]:
Marks = tuple(map(int,input("Enter the marks of 3 Students: ").split()))
print(sum(Marks)/3)
li = list(map(lambda x: x>=35, Marks))
res = "Failed" if False in li else "Passed"
print(res)

40.0
Failed

Movie Ticket Booking

In [42]:
age = list(map(int,input("Enter the age of people: ").split()))
res = []
for i in age:
    if i<=12:
        res.append(150)
    elif 13<=i<=59:
        res.append(250)
    elif i>=60:
        res.append(200)
print(sum(res))

950